<h1>ブログの記事一覧</h1>
<hr>
<% @posts.each do |post| %>
<p>ID:<%= post.id %></p>
<p>タイトル:<%= post.title %></p>
<p>本文:<%= post.body %></p>
<hr>
<% end %>
<h1>ブログ運営者情報</h1>
<p><%= image_tag @author.image_url, width: 200  %></p>
<p>担当：<%= @author.name %></p>
<p>一言：<%= @author.description %></p>
