<div class="row">
  <div class="col-md-8">
    <h1>ブログの記事一覧</h1>
    <hr>
    <% @posts.each do |post| %>
    <p>ID:<%= post.id %></p>
    <p>タイトル:<%= post.title %></p>
    <% if false %><p>本文:<%= post.body %></p><% end %>
    <p>本文:<%= post.body %> <%= link_to '続き', post %></p>
    <hr>
    <% end %>
    <%= link_to '記事を新規作成', new_post_path, class:"btn btn-warning " %>
  </div>
  <div class="col-md-4">
    <h1>ブログ運営者情報</h1>
    <p><%= image_tag @author.image_url, width: 200  %></p>
    <p>担当：<%= @author.name %></p>
    <p>一言：<%= @author.description %></p>
  </div>
</div>




