<h1>新規記事投稿</h1>
<%= form_for @post do |f| %>
  <p>タイトル<br>
    <%= f.text_field :title %>
  </p>

  <p>
    カテゴリ<br>
    <%= f.text_field :category %>
  </p>

  <p>
    本文<br>
    <%= f.text_area :body %>
  </p>

  <%= f.submit '投稿する' %>
<% end %>
